.App {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .classificacao {
    width: 100%;
    border-collapse: collapse;
  }
  
  .classificacao th, .classificacao td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .topFour {
    background-color: #007bff; /* Azul para os 4 primeiros */
    color: white;
    font-weight: bold;
  }
  
  .bottomFour {
    background-color: #dc3545; /* Vermelho para os 4 últimos */
    color: white;
  }
  
  .middle {
    background-color: #28a745; /* Verde para o meio */
    color: white;
  }
  
  .classificacao th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  